<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-do-List Application</title>
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <header>
        <nav class="navbar">
            <ul class="nav-links">
                <li class="nav-item"><a href="/"><i class="fa-solid fa-calendar"></i><span>Today</span></a></li>
                <li class="nav-item"><a href="/work"><i class="fa-solid fa-briefcase"></i><span>Work</span></a></li>
            </ul>

        </nav>
        
    </header>

    <main>
